@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Quicksand:wght@300..700&display=swap');@import "tailwindcss";

@theme {
    --font-display: "Quicksand", sans-serif;
    --font-special: "Birthstone", sans-serif;
    --color-green-primary: #34D399;
    --color-green-secondary: #059367;
    --color-light-dark: #10141E;
    --color-default-dark: #030712;
}